body {
    background: #f4f5f5;
    border: 10px solid #000;
}

.text-center {
    text-align: center;
    background: #fff;
    padding: 20px 0;
    margin-bottom: 15px;
    border-bottom: 4px solid #000;
}

.single-project {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.single-project>img {
    width: 100%;
    height: 300px;
    display: block;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .20);
    text-align: center;
    line-height: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.box:hover {
    background: rgba(0, 0, 0, .34);
}

.box-content {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.box-content:before,
.box-content:after {
    content: '';
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.box-content:before {
    top: 100%;
    left: 30px;
    right: 30px;
    bottom: 15px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    -webkit-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
}

.box:hover .box-content:before {
    top: 15px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.box-content:after {
    top: 30px;
    left: 15px;
    right: 15px;
    bottom: 30px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    -webkit-transform: skew(-100deg);
    transform: skew(-100deg);
    -webkit-transition: all .3s ease .2s;
    transition: all .3s ease .2s;
}

.box:hover .box-content:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}

.box-text {
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.box-text h2 {
    color: #fff;
}

.box-text p {
    margin: 0;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 0;
    margin-top: 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.box-content:hover .box-text p,
.box-content:hover .box-text ul {
    opacity: 1;
    filter: alpha(opacity=100);
    height: auto;
}

.box-text ul {
    display: block;
    text-align: center;
    margin-top: 25px;
    padding: 0;
    position: relative;
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.box-text ul li {
    display: inline;
}

.box-text ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    font-family: 18px;
    font-weight: 700;
    color: #fff;
    background: #212121;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.box-text ul li a:hover {
    background: #6ab42f;
}