
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
}
body{
  background-color:darkcyan;
}
.centerAlign, .big, .content-item:first-child, .medium, .content-item:nth-child(2), .content-item:nth-child(3), .content-item:nth-child(4), .small, .content-item:nth-child(5), .content-item:nth-child(6), .content-item:nth-child(7), .content-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.box, .big, .content-item:first-child, .medium, .content-item:nth-child(2), .content-item:nth-child(3), .content-item:nth-child(4), .small, .content-item:nth-child(5), .content-item:nth-child(6), .content-item:nth-child(7), .content-item:last-child {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.box img, .big img, .content-item:first-child img, .medium img, .content-item:nth-child(2) img, .content-item:nth-child(3) img, .content-item:nth-child(4) img, .small img, .content-item:nth-child(5) img, .content-item:nth-child(6) img, .content-item:nth-child(7) img, .content-item:last-child img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: auto;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .box img, .big img, .content-item:first-child img, .medium img, .content-item:nth-child(2) img, .content-item:nth-child(3) img, .content-item:nth-child(4) img, .small img, .content-item:nth-child(5) img, .content-item:nth-child(6) img, .content-item:nth-child(7) img, .content-item:last-child img {
    width: 100%;
    height: auto;
  }
}
.box a, .big a, .content-item:first-child a, .medium a, .content-item:nth-child(2) a, .content-item:nth-child(3) a, .content-item:nth-child(4) a, .small a, .content-item:nth-child(5) a, .content-item:nth-child(6) a, .content-item:nth-child(7) a, .content-item:last-child a {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  text-decoration: none;
  padding: 12px 24px;
  background: #fff68f;
  font-weight: bold;
  color: #404040;
  transition: all .32s;
}
.box:hover a, .big:hover a, .content-item:hover:first-child a, .medium:hover a, .content-item:hover:nth-child(2) a, .content-item:hover:nth-child(3) a, .content-item:hover:nth-child(4) a, .small:hover a, .content-item:hover:nth-child(5) a, .content-item:hover:nth-child(6) a, .content-item:hover:nth-child(7) a, .content-item:hover:last-child a {
  bottom: 0;
}
.box--small img, .small img, .content-item:nth-child(5) img, .content-item:nth-child(6) img, .content-item:nth-child(7) img, .content-item:last-child img {
  width: 100%;
  height: auto;
}

.big, .content-item:first-child {
  float: left;
  width: calc(50% - 2px);
  height: 100%;
  margin-right: 2px;
}
@media screen and (max-width: 800px) {
  .big, .content-item:first-child {
    width: 100%;
    height: 200px;
  }
}

.medium, .content-item:nth-child(2), .content-item:nth-child(3), .content-item:nth-child(4) {
  float: left;
  width: calc(25% - 2px);
  height: calc(50% - 1px);
}
@media screen and (max-width: 800px) {
  .medium, .content-item:nth-child(2), .content-item:nth-child(3), .content-item:nth-child(4) {
    width: 100%;
    height: 200px;
  }
}

.small, .content-item:nth-child(5), .content-item:nth-child(6), .content-item:nth-child(7), .content-item:last-child {
  float: left;
  width: calc(25% - 2px);
  height: calc(25% - 2px);
}
@media screen and (max-width: 800px) {
  .small, .content-item:nth-child(5), .content-item:nth-child(6), .content-item:nth-child(7), .content-item:last-child {
    width: 100%;
    height: 200px;
  }
}

.content {
  width: 1000px;
  max-width: 100%;
  height: 420px;
  margin: 32px auto;
  padding: 32px;
}
@media screen and (max-width: 800px) {
  .content {
    height: auto;
  }
}
.content:after {
  content: '.';
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.content-item:first-child {
  background: #e3d3e1;
}
.content-item:nth-child(2) {
  background: #dbf1cb;
  margin-right: 2px;
}
@media screen and (max-width: 800px) {
  .content-item:nth-child(2) {
    margin-top: 2px;
  }
}
.content-item:nth-child(3) {
  background: #89dcc1;
}
@media screen and (max-width: 800px) {
  .content-item:nth-child(3) {
    margin-top: 2px;
  }
}
.content-item:nth-child(4) {
  background: #faebd7;
  margin-right: 2px;
  margin-top: 2px;
}
.content-item:nth-child(5) {
  background: #fdf1f5;
  margin-right: 2px;
  margin-top: 2px;
}
.content-item:nth-child(6) {
  background: #dce5cd;
  margin-top: 2px;
}
.content-item:nth-child(7) {
  background: #e4e5ff;
  margin-right: 2px;
  margin-top: 2px;
}
.content-item:last-child {
  background: #89dcc1;
  margin-top: 2px;
}
