body {
    background-color: #fff;
    color: #333;
    font: 20px Helvetica, Arial, sans-serif;
}

.shape {
    float: left;
    margin: 40px;
    shape-outside: url(https://vignette.wikia.nocookie.net/farmville/images/3/3d/Hacker_Pig-icon.png/revision/latest?cb=20151115174829);
    shape-margin: 40px;
}